.footer
  %ul.footer__containers
    %li.footer__containers__container
      %h2.footer__containers__container__head FURIMAについて
      %ul
        %li
          %a 会社概要（運営会社）
        %li
          %a プライバシーポリシー
        %li
          %a FURIMA利用規約
        %li
          %a ポイントに関する特約

    %li.footer__containers__container
      %h2.footer__containers__container__head FURIMAを見る
      %ul
        %li
          %a カテゴリー一覧
        %li
          %a ブランド一覧

    %li.footer__containers__container
      %h2.footer__containers__container__head ヘルプ＆ガイド
      %ul
        %li
          %a FURIMAガイド
        %li
          %a FURIMAロゴ利用ガイドライン
        %li
          %a お知らせ
  .footer__logo
    =link_to root_path do
      =image_tag "logo-white.png"
    %P © FURIMA