.header
  .header__logo
    =image_tag("logo.png", size: "220x70")

.body
  .buy
    .buy-content
      .buy-content__title
        購入内容の確認
      .buy-content__main
        .buy-image
          =image_tag("桜島.jpeg")
        .buy-details
          .buy-details__item-name
            %span 商品名 : 桜島
          .buy-details__item-price
            ¥
            %span.main__shopping-free 10,000

    .price
      .price__left
        お支払い金額
      .price__right
        ¥
        %span.price__shopping-free 10,000
            
    .user-info
      .user-info__inner
        お支払い方法
      .inner-credit
        .inner-credit__brand
          %figure
            =image_tag("visaカード.png")
        .card
          .card__title
            クレジットカード
          .card__number
            1111 1111 1111 
          .card__limit
            有効期限
          .card__date
            11 / 21

    .adress
      .adress__post
        配送先
      .adress__info
        住所 111-2222
        %p 東京都 千代田区 丸の内 1-1-1
        
      .adress__name
        %p 氏名  
        %p 田中 太郎 様

    .purchase
      .submit
      %input{type: "submit", value: "購入する", class: "buy-button"}/
