.header
  .header__logo
    =image_tag("logo.png", size: "220x70")
    
.buy
  .buy-content
    .buy-content__title
      購入内容の確認

    .buy-content__item
      .buy-image
        %img{alt: "桜島", src: "/assets/桜島.jpeg"}/
      .buy-details
        .buy-details__item-name
          %span 商品名:桜島
          %p.buy-price
            10,000
            %span.shopping-free (税込)送料込み

      .buy-content__price
        .price__price__left
          お支払い金額
        .price__price__right
          110,000,000
          %span.shopping-free (税込)送料込み
          
      .buy-content__user-info
        .buy-content__user-info__inner
          %h3 お支払い方法
          .inner-credit
            .inner-credit__brand
              %figure
                %img{alt: "桜島", src: "/assets/visaカード.jpeg"}/
            .inner-credit__number
              1111 1111 1111 
            .inner-credit__expiration
              .inner-credit__expiration__title
                有効期限
              .inner-credit__expiration__date
                11 / 21

        .buy-content__adress
          .adress-post
            %h3 配送先
          .adress-info
            住所 111-2222
            %br
            %p 東京都
            %p 千代田区
            %p 丸の内
            %p 1番地
            
            .adress-info__name
              氏名
              %p マッスル
              %p 飯田 様
      .buy-content__submit
        %input{type: "submit", value: "送信する"}/
