
.nav-detail__ul__li:last-child{
  font-weight: bold;
}
.nav-detail__ul:after{
  display: block;
  content: "";
  clear: both;
}

.nav-detail{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  display: block;
  height: 54px;
  background-color: white;
  &__ul{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    &__li{
      padding: 0 10px 0 0;
      float: left;
      &__link a{
        text-decoration: none;
        color: #333;
      }
    }
  }
}

