$main-color: #f8f8f8;
$main-background: #EEEEEE;
$border-top: 1px solid #AAFFFF;

.header {
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
  &__logo {

  }
}

.body{
  background-color: $main-background;
  .buy {
    max-width: 700px;
    margin: 0 auto;
    background-color: $main_color;
    .buy-content {
      background-color: $main_color;
      &__title {
        text-align: center;
        padding: 32px 16px;
        background-color:$main_color;
        font-size: 25px;
        font-weight: bold;
      }
      &__main {
        text-align: center;
        display: flex;
        justify-content: center;
        img {
          border-radius: 30px;
        }
        .buy-details {
          display: flex;
          justify-content: space-between;
          padding: 32px 16px;
          &__item-name {
            font-size: 20px;
            font-weight: 400;
          }
          &__item-price {
            display: flex;
            justify-content: center;
            margin-left: 30px;
          }
          .main__shopping-free{
            margin-left: 8px;
          }
        }
      }
    }
    .price {
      display: flex;
      justify-content: space-around;
      background-color: $main_color;
      padding: 32px 16px;
      border-top: $border-top;

      &__left {
        font-size: 20px;
        font-weight: 400;

      }
      &__right {
        font-weight: 600;
        font-size: 24px;
      }
    }
    .user-info {
      background-color: $main_color;
      padding: 32px 16px;
      border-top: $border-top;
      display: flex;
      justify-content: space-around;
      &__inner {
        font-weight: bold;
        margin-left: initial;
        font-size: 20px;
      }
      &__change {
        color: #0095ee;
      }
    }
      
    .card {
      &__title {
        margin-left: 145px;
      }
      &__limit {
        margin-left: 145px;
      }
    }
    .inner-credit {
    
      &__brand {
        img {
          height: 30px;
          margin-left: 145px;
        }
      }
    }
    
    .adress {
      background-color: $main_color;
      padding: 32px 16px;
      border-top: $border-top;
      display: flex;
      justify-content: space-around;
      &__post {
        font-weight: bold;
        margin-left: 50px;        font-size: 20px;
      }
      &__change {
        color: #0095ee;
      }
    }
    .adress__info {
      margin-left: 145px;
    }

    .purchase {
      background-color: $main_color;
      padding: 32px 16px;
      border-top: $border-top;
      .buy-button {
        display: block;
        background-color: red;
        text-decoration: none;
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 60px;
        color: white;
        width: 100%;
      }
      .submit {
        width: 100vw;
      }
    }
  }
}