.header {
  border-bottom: 1px solid rgb(245, 245, 245);
  &__title {
    padding: 32px 16px;
    display: block;
    text-align: center;
    margin: 0 200px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;

  }
}

.form {
  background-color: white;
  display: block;
  text-align: center;
  margin: 0 100px;
  padding: 50px;
  .style_label {
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
    .label {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
    }
    .require {
      margin-left: 8px;
      font-size: 12px;
      padding: 0 4px;
      background-color: #ff0211;
      color: #fff;
    }
  .number {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    height: 48px;
    margin: 0;
    outline: none;
    padding: 0 16px;
    width: 70%;
  }
  .signup-card-list {
    display: flex;
    margin-left: 150px;
    .list {
      margin: 5px;

    }

  }
  #exp_month {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #222;
    font-size: 16px;
    height: 48px;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0 56px 0 16px;
    width: 35%;
  }
  #exp_year {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #222;
    font-size: 16px;
    height: 48px;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0 56px 0 16px;
    width: 30%;
  }
  .cvc {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    height: 48px;
    margin: 0;
    outline: none;
    padding: 0 16px;
    width: 70%;
  }
  .submit {
    background-color: #ea352d;
    color: #fff;
    font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    height: 48px;
    margin: 0;
    outline: none;
    padding: 0 16px;
    width: 70%;
    margin-bottom: 15px;
  } 
  .back {
    color: #0095ee;
    margin-top: 30px;
  }
}
